$loading-background: linear-gradient(120deg, #0177fd 0%, #4dd29b 100%);
$loading-spinner-color: #fff;

@import "loading.scss";

.bold {
  font-weight: 500;
}

a {
  text-decoration: none;
}

.regTable {
  display: table;
  width: 100%;
}

.regTableRow {
  display: table-cell;
}

.v-snack__wrapper {
  min-width: auto!important;
}

.v-dialog .v-card__title {
  font-weight: 400 !important;
  padding: 12px 12px 12px 12px !important;
  font-size: 1.25rem !important;
}

.v-dialog .v-card__text {
  margin-top: 20px;
}

.v-badge__badge {
  width: 10px !important;
  min-width: 10px !important;
  height: 10px !important;
  min-height: 10px !important;
  right: 0 !important;
  top: 0 !important;
}

.backBtn {
  color: #CCCCCC;
  cursor: pointer;
  transition: .3s;

  &:hover {
    color: #1C1C1C;
  }

  &:active {
    transform: scale(0.9)
  }
}
